<h1>Results</h1>

<div class="results-text">
  <p><%= @result_first_half %></p>
  <strong><%= @result_word %></strong>
  <p><%= @result_second_half %></p>
  <p><%= @result %></p>
</div>

<p><%= @letters.join(" ") %></p>

<a href="/new">Play again</a>
